.App {
  text-align: center;
}

.paginationBttns {
  padding-top: 2rem;
  width: 80%;
  height: 40px;
  list-style-type: none;
  display:flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2B2EFF;
  color: #2B2EFF;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2B2EFF;
}